UnityML/Library/
UnityML/Logs/
UnityML/Temp/
UnityML/obj/
UnityML/Assets/Packages
UnityML/Assets/Plugins
NugetDll/NugetDll/NugetDll/bin
NugetDll/NugetDll/NugetDll/obj
UnityML/Assembly-CSharp.csproj
UnityML/UnityML.sln
/NugetDll/NugetDll/.vs
/UnityML/UserSettings
UnityML/Assembly-CSharp.csproj
